/** COLORS

Gray: #a09ea2

Red: #DE594A

Light red: #FE8376

really light red:  FFABA2

dark red: C53425

**/

/** OVERRIDES **/


body{
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

h1{
    font-size: 300%;
}

h2{
    font-size: 150%;
}

h3{
    font-size: 135%;
}

h4{
    color: black;
    font-size: 120%;
}

p{
    color:#a09ea2;
}


/** END OVERRIDES **/

.v-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.logo{
    height:50px;
    position: absolute;
    left:50px;
}


.navigation{
    /** border-bottom: #fafafa thin solid; **/
    padding-top: 50px;
    padding-bottom: 15px;
    padding-right:50px;
    font-size: 80%;
}

.nav_link_container{
    text-align: right;
    position: relative;
}

.nav_link_container a{
    color:black;
    text-decoration: none;
    margin: 15px;
}

.nav_link_container a:hover{
    color: #DE594A;
}


.header_row{
    padding-top: 100px; padding-bottom: 100px;
    padding-left: 50px; padding-right: 50px;
}

.header{
    
}

.red{
    color:#DE594A;
}

.overview_row{
    padding-top: 100px; padding-bottom: 100px;
    padding-left: 50px; padding-right: 50px;
}

.overview_container{
    padding-right: 100px;
}

.sketch_container{
    text-align: center;
    padding-right: 100px;
}

.inventory_row{
    padding-top: 100px; padding-bottom: 100px;
    padding-left: 50px; padding-right: 50px;
    text-align: center;
}

.prod_sketch{
    margin: 0 auto;
    text-align: center;
}

.sketch{
    display: inline;
}

.prod1{
    margin:5px;
    padding: 10px;
}

.services_row{
    background-color: #DE594A;
    padding-top: 100px; padding-bottom: 100px;
    padding-left: 50px; padding-right: 50px;
}

.services_container{
    color: white;
    padding-right: 100px;
}

.services_container h1{
    font-size: 200%;
}

.services_container p{
    color: #FFABA2;
    margin-bottom: 50px;
}

.services_description_container{
    padding-left: 50px;
    padding-right:50px;
}

.services_description_container h3{
    color:white;
}

.services_description_container p{
    color: #FFABA2;
    margin-bottom: 50px;
}

.footer{
    background-color: blue;
    padding-top: 100px; padding-bottom: 100px;
    padding-left: 50px; padding-right: 50px;
}

.footer_container h2{
    text-align: center;
}